
h1, h2, h5 {
    font-family: "Margarine", serif;
}

p {
    font-family: "Coming Soon", serif;
    font-size: 25px;
}

nav{
    font-family: "Coming Soon", serif;
    font-size: 20px;
    text-un
}

/* figured out how to change the font of the card buttons, by targeting the class btn in css stylesheet*/

.btn {
    font-family: "Coming Soon", serif;
    font-size: 15px;
}

table {
    font-family: "Coming Soon", serif;
    font-size: 15px;

}

/* figcaption is an element not a class*/

figcaption {
    font-family: "Coming Soon", serif;
    font-size: 15px

}

form {
    font-family: "Coming Soon", serif;
    font-size: 15px;
}

footer {
    font-family: "Coming Soon", serif;
    font-size: 15px;

}
